<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>proyectDataFirstStep</ion-title> -->
    <ion-button slot="start" routerLink="/home" >Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="projectSubmit()" #projectForm="ngForm">
    <ion-list>
      <div>
          <ion-input name="projectName" [(ngModel)]="projectName" label="Project name" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </div>
      <div>
        <ion-textarea
        label="Project description"
        labelPlacement="floating"
        [counter]="true"
        maxlength="20"
        [counterFormatter]="customCounterFormatter"
        [(ngModel)]="projectDescription"
        name="projectDescription"
        ></ion-textarea>
      </div>
      <div>
        <ion-button expand="block" (click)="addTaksClick()"  routerLink="/project-data-second-step" >Add task</ion-button>
      </div>
      <div>
        <ion-datetime></ion-datetime>
      </div>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let task of taskList">
        <div>
          <h1>
            {{ task }}
          </h1>
          <p>
            Estimated time
          </p>
        </div>
          <ion-button (click)="taskEdit(task)" slot="end">Edit</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button expand="block" (click)="nextStepProject()"  routerLink="/project-data-fifth-step" >Continue</ion-button>
  </ion-toolbar>
</ion-footer>
