<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="SignIn()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <div style="padding-bottom: 30px;">
    </div>
    <div>
      <ion-button type="submit" expand="block" [disabled]="!loginForm.valid"> Sign In</ion-button>
    </div>
  </form>
  <div class="button-style">
    <ion-button  routerLink="/sign-up" expand="block">Sign up</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>